
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>



    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3">Registrarse</h4>
                        <div class="form-group mt-3">
                          <input type="username" class="form-style" id="id_username" name="username" placeholder="Nombre de usuario" required>
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-3">
                          <input type="email" class="form-style" id="id_email" name="email" placeholder="Email" required>
                          <i class="input-icon uil uil-at"></i>
                        </div>	
                        <div class="form-group mt-3">
                          <input type="password" class="form-style" id="id_password1" name="password1" placeholder="Contraseña" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group mt-3">
                          <input type="password" class="form-style" id="id_password2" name="password2" placeholder="Confirmar Contraseña" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button type="submit" class="btn mt-4">Registrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>