<section> 
    <div class="hero-wrap hero-wrap-2 img d-flex align-items-end tit" style="background-image: url('assets/images/perroreal.jpeg');background-size: cover; background-position: center center; height: 45.5vw;" data-stellar-background-ratio="0.5">     
           <h2>Servicios</h2>
    </div>
  </section>
  
  <div class="medio">
  </div> 


  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-5 d-flex">
                <div class="col-md-4 ftco-animate">
                  <div class="work mb-4 img d-flex align-items-end" style="background-image: url('/assets/images/loritoxd.jpeg'); background-size: cover; background-position: center center; height: 30.2vw; width: 30.2vw;">
                    <a href="assets/images/nagam.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                      <span class="fa fa-expand"></span>
                    </a>
                  </div>
                </div>
              </div>
            <div class="col-md-7 pl-md-5 py-md-5">
                <div class="heading-section pt-md-5">
          <br>
            <h2 class="mb-4">¡Servicios adicionales que te pueden ayudar a cuidar tu mascota!</h2>
          <br>
                </div>
        </div>
    </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row mb-5 pb-5">
        <div class="col-md-4 mb-4 d-flex align-self-stretch px-4 ftco-animate">
        <div class="d-block services text-center carta" id="cartas">
          <div class="icon d-flex align-items-center justify-content-center">
                <span class="flaticon-blind"></span>
          </div>
        <div class="media-body p-5">
            <div>
            <h3 class="heading">Experto animal!</h3>
            <p>Descubrirás contenido de calidad elaborado por distintos profesionales del sector, como veterinarios, adiestradores y educadores caninos, expertos en etología, auxiliares técnicos veterinarios y periodistas especializados.</p>
            </div>
            <div class="hero-wrap hero-wrap-2 img d-flex align-items-end justify-content-center">
            <a href="https://www.expertoanimal.com/" class="btn-custom pt-4 d-flex align-items-center justify-content-center" target="_blank"><span class="fa fa-chevron-right"></span><i class="sr-only">Saber más</i></a>
            </div>
        </div>
        </div>      
      </div>
      <div class="col-md-4 mb-4 d-flex align-self-stretch px-4 ftco-animate">
        <div class="d-block services text-center carta" id="cartas">
          <div class="icon d-flex align-items-center justify-content-center">
                <span class="flaticon-dog-eating"></span>
          </div>
          <div class="media-body p-4">
            <div>
            <h3 class="heading">Rover!</h3>
            <p style="margin-bottom:11vw">Rover es la mayor red nacional de amantes de los animales que están deseando cuidar de tu mascota, con servicios de atencion a domicilio y mas!</p>
            </div>
            <div class="hero-wrap hero-wrap-2 img d-flex align-items-end justify-content-center">
            <a href="https://www.rover.com/es/" class="btn-custom d-flex" target="_blank"><span class="fa fa-chevron-right"></span><i class="sr-only">Saber más</i></a>
            </div>
        </div>
        </div>    
      </div>
      <div class="col-md-4  mb-4d-flex align-self-stretch px-4 ftco-animate">
                <div class="d-block services text-center carta" id="cartas">
          <div class="icon d-flex align-items-center justify-content-center">
                <span class="flaticon-grooming"></span>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Buscar cerca de mi</h3>
            <p style="margin-bottom:17.5vw">Podrás encontrar clínicas veterinarias según tu localidad y de rápido acceso!</p>
            <div class="hero-wrap hero-wrap-2 img d-flex align-items-end justify-content-center">
            <a href="https://buscarcercademi.com/clinicas-veterinarias-cerca-de-mi/" class="btn-custom mb-3 d-flex align-items-center justify-content-center" target="_blank"><span class="fa fa-chevron-right"></span><i class="sr-only">Saber más</i></a>
          </div>
        </div>
        </div>      
      </div>
    </div>
    <div class="row mt-5 pt-4">
        <div class="col-md-4 mb-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class="d-block services text-center carta" id="cartas">
          <div class="icon d-flex align-items-center justify-content-center">
                <span class="flaticon-blind"></span>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Fundacion Tepa</h3>
            <p style="margin-bottom:5vw">"La Fundación TEPA (Trabajando en pro de los animales) busca proteger la vida de perros y gatos en estado de maltrato y abandono", aqui puedes adoptar, o apadrinar un amigo peludo!</p>
            <div class="hero-wrap hero-wrap-2 img d-flex align-items-end justify-content-center">
            <a href="https://www.fundaciontepa.org/" class="btn-custom d-flex align-items-center justify-content-center" target="_blank"><span class="fa fa-chevron-right"></span><i class="sr-only">Saber más</i></a>
            </div>
        </div>
        </div>      
      </div>
      <div class="col-md-4 mb-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class="d-block services text-center carta" id="cartas">
          <div class="icon d-flex align-items-center justify-content-center">
                <span class="flaticon-dog-eating"></span>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Puppis</h3>
            <p style="margin-bottom:4vw">Encuentra todo lo que necesitas para tu mascota en un solo lugar y sin salir de casa ¡Aprovecha sus promociones semanales!</p>
            <div class="hero-wrap hero-wrap-2 img d-flex align-items-end justify-content-center">
            <a href="https://www.puppis.com.co/" class="btn-custom 4 d-flex align-items-center justify-content-center" target="_blank"><span class="fa fa-chevron-right"></span><i class="sr-only">Saber más</i></a>
            </div>
        </div>
        </div>    
      </div>
      <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                <div class="d-block services text-center carta" id="cartas">
          <div class="icon d-flex align-items-center justify-content-center">
                <span class="flaticon-blind"></span>
          </div>
          <div class="media-body p-4">
            <h3 class="heading">Animals</h3>
            <p>El mas completo hipermercado de alimentos, productos veterinarios y agropecuarios. Tus marcas favoritas a los mejores precios, COMPRA ONLINE AHORA!</p>
            <div class="hero-wrap hero-wrap-2 img d-flex align-items-end justify-content-center">
            <a href="https://www.animalsveterinaria.com/" class="btn-custom d-flex align-items-center justify-content-center" target="_blank"><span class="fa fa-chevron-right"></span><i class="sr-only">Saber más</i></a>          
            </div>
        </div>
        </div>      
      </div>
    </div>
    </div>
</section>

<br><br>