

<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>


<form #loginform= "ngForm"(ngSubmit)="enviar()">
<div class="section">
      
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-2 pt-sm-2 text-center">
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-5">Iniciar Sesión</h4>
                        <div class="form-group">
                          <input type="username" class="form-style" id="username" placeholder="Usuario" required>
                          <i class="input-icon uil uil-user"></i>
                        </div>	
                        <div class="form-group mt-3">
                          <input type="password" class="form-style" id="password" placeholder="Contraseña" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button type="submit" class="btn mt-5">Ingresar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </form>