.tit h2{
  margin: 0%;
  padding-left: 5%;
  color: #fff;
  font-size: 4.0vw;
  background-color:rgba(140, 82, 255, 0.7);
  width: 1220px;
  height: 20%;
}

.medio{
  padding: 35px 20px; 
  background-color: #8c52ff;
}
.texto h4{
  font-size: 1.8vw;
}
.texto p{
  font-size: 1.3vw;
}
.linea{
  padding: 35px 20px; 
  background-color: #6137bb;
  font-size: 2.0vw;
  color: #fff;
}