<section> 
    <div class="hero-wrap hero-wrap-2 img d-flex align-items-end tit" style="background-image: url('assets/images/bg_2.jpg');background-size: cover; background-position: center center; height: 45.5vw;" data-stellar-background-ratio="0.5">     
           <h2>Nosotros</h2>
    </div>
    
  </section>
  <div class="medio">
  </div> 
  
    <section class="ftco-section ftco-no-pt ftco-no-pb texto">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-5 d-flex">
                  <div class="col-md-4 ftco-animate">
                    <div class="work mb-4 img d-flex align-items-end" style="background-image: url('/assets/images/perrosfam.jpeg'); background-size: cover; background-position: center center; height: 51.2vw; width: 35.2vw;">
                      <a href="assets/images/nagam.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="fa fa-expand"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7 pl-md-5 py-md-5">
                    <div class="heading-section pt-md-5 aling-items-center text-aling-center">
                <h2 class="mb-4">¡Conocenos!</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 services-2 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-stethoscope"></span></div>
                            <div class="text pl-3 info">
                                <h4>¿Quienes somos?</h4>
                                <p>Somos una entidad en desarrollo que se enfoca principalmente en el cuidado y desarrollo de los animales, así como en su bienestar.</p>
                            </div>
                        </div>
                        <div class="col-md-6 services-2 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-customer-service"></span></div>
                            <div class="text pl-3 info">
                                <h4>¿Que buscamos?</h4>
                                <p>Buscamos establecer metodologias de informacion para los cuidados y alimentacion de las mascotas, como tambien facilitar su adopcion.</p>
                            </div>
                        </div>
                        <div class="col-md-6 services-2 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-emergency-call"></span></div>
                            <div class="text pl-3 info">
                                <h4>Mision</h4>
                                <p>Nuestra misión es organizar información del mundo y centrarla en una sola rama dónde se pueda acceder fácilmente a ella sin tener que investigar en diferentes fuentes, ademas de establecer metodos de contacto entre personas interesadas en adquirir mascotas.</p>
                            </div>
                        </div>
                        <div class="col-md-6 services-2 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-veterinarian"></span></div>
                            <div class="text pl-3 info">
                                <h4>Vision</h4>
                                <p>Ofrecer la mejor experiencia de información de animales domésticos, la cual puede encontrar bastante información de muy buena calidad, brindando soluciones a posibles enfermedades que pueda tener su mascota o los cuidados que puede tener con ella.</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </section>
  
    <section class="ftco-counter linea" id="section-counter">
          <div class="container">
                  <div class="row">
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="50">50</strong>
                </div>
                <div class="text">
                    <span>Customer</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="8500">8500</strong>
                </div>
                <div class="text">
                    <span>Professionals</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="20">20</strong>
                </div>
                <div class="text">
                    <span>Products</span>
                </div>
              </div>
            </div>
          </div>
      </div>
      </section>
  
    