
<div class="hero-wrap js-fullheight" style="background-image: url('/assets/images/ojitos.jpeg'); background-size: cover; background-position: center center; height: 45.5vw;" data-stellar-background-ratio="0.10">
    <div class="overlay"></div>
    <div class="container content">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="text-center">
            <h1 class="mb-4">De la mano con nuestros amigos peludos, Conoce los principales cuidados para nuestras mascotas! </h1>
            <p onclick="mostrarSugerencia()">
              <a class="btn btn btn-responsive" id="s1">¡Comenzar!<span class="ion-ios-arrow-forward"></span></a>
            </p>        
        </div>
    </div> 
    </div>
  </div>
  <script>
    function mostrarSugerencia() {
        var sugerencia = document.getElementById('sugerencia');
        sugerencia.style.display = 'block';
    }

    function ocultarSugerencia() {
        var sugerencia = document.getElementById('sugerencia');
        sugerencia.style.display = 'none';
    }
   </script>

   <div class = "sugerencias">     
      <div id="sugerencia" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px;background-color: rgba(0, 0, 0, 0.8);border-radius: 1.15vw; ">
        <p>Foodpetime mas cerca de ti, red social y fuente de informacion, facilitando todo para ti.</p>
        <a href="#">Inicia Sesión!</a>
        <p> o </p>
        <a href="#">Registrate!</a>
        <span onclick="ocultarSugerencia()" style="cursor: pointer; position: absolute; top: 10px; right: 10px; font-size: 40px;">&times;</span>
      </div>
    </div>
    <div class="medio">
    </div>  


    <section class="ftco-section bg-light ftco-no-pt ftco-intro">
    	<div class="container">
    		<div class="row">
          <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
            <div class="d-block services text-center carta" id="cartas">
              <div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-blind"></span>
              </div>
              <div class="media-body">
                <h3 class="heading" style="padding: 1.3vw;">Productos para tu mascota!</h3>
                <p style="padding: 1.3vw;">Aqui encontraras varios productos, desde alimentos para tu mascota, juguetes y productos para su aseo y salud.</p>
                <div class="desc w-100 px-4">
                  <div class="text w-100 mb-3 text-center">
                    
                    <h2 id="ataj"><a href="https://laika.com.co" class="btn btn btn-responsive justify-content-center" target="_blank" id="bordes"><img src="assets/iconos/animal.png"width="50vw" height="50vw" style="border-radius: 5px">
                      <span class="fa fa-chevron-right"></span><i class="sr-only"></i></a>
                    </h2>
                  </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
            <div class="d-block services text-center carta" id="cartas">
              <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-dog-eating"></span>
                </div>
                <div class="media-body">
                    <h3 class="heading " style="padding: 1.3vw;">Centro de adopción en Bogotá D.C</h3>
                    <p style="padding: 1.3vw;margin-bottom: 10.2vw;">Aquí encontrarás distintas mascotas que están a la espera por ti!</p>
                </div>
                <div class="desc w-100 px-4">
                    <div class="text w-100 mb-3 text-center enlaces">
                        <h2 id="ataj"><a href="https://www.fundacionanimalsafecolombia.org/adoptar-apadrinar/?gclid=EAIaIQobChMIhYexzu2bgQMVNaZaBR1UOgp8EAAYAiAAEgJw4PD_BwE" class="btn btn btn-responsive justify-content-center" target="_blank" id="bordes"><img src="assets/iconos/pawprint.png"width="50vw" height="50vw" style="border-radius: 5px">
                            <span class="fa fa-chevron-right"></span><i class="sr-only"></i></a></h2>
                    </div>
                </div>
            </div>    
        </div>
        
          <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
            <div class="d-block services text-center carta" id="cartas">
              <div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-grooming"></span>
              </div>
              <div class="media-body">
                <h3 class="heading"style="padding: 1.3vw;">Clinica veterinaria en Bogotá D.C</h3>
                <p style="padding: 1.3vw;margin-bottom: 10.1vw;">Para la seguridad y salud de tu amigo peludo!</p>
        
                      <h2><a href="https://www.fundacionanimalsafecolombia.org/adoptar-apadrinar/?gclid=EAIaIQobChMIhYexzu2bgQMVNaZaBR1UOgp8EAAYAiAAEgJw4PD_BwE" class="btn btn btn-responsive" target="_blank" id="bordes"><img src="assets/iconos/animal.png"width="50vw" height="50vw" style="border-radius: 5px">
                          <span class="fa fa-chevron-right"></span><i class="sr-only"></i></a></h2>
                </div>
            </div>      
          </div>
        </div>
    	</div>
    </section>
    <br>
    <br>
    <section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Galeria personal!</h2>
          </div>
        </div>
				<div class="row justify-content-center">
          <div class="col-md-4 ftco-animate justify-content-center align-items-center">
            <div class="work mb-4 img d-flex align-items-end" style="background-image: url('/assets/images/matiaas.jpg');background-size: cover; background-position: center center; height: 300px; width: 300px;">
            	<a href="assets/images/matiaas.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3 text-center">
	              	
	              	<h2><a>Matias</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="work mb-4 img d-flex align-items-end" style="background-image: url('/assets/images/rebeca.jpeg');background-size: cover; background-position: center center; height: 300px; width: 300px;">
            	<a href="assets/images/rebeca.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3 text-center">
	              
	              	<h2><a>Rebeca</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="work mb-4 img d-flex align-items-end" style="background-image: url('/assets/images/demecles.jpg' );background-size: cover; background-position: center center; height: 300px; width: 300px;">
            	<a href="assets/images/demecles.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3 text-center">
	              	
	              	<h2 style="color:white"><a>Demecles</a></h2>
	              </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 ftco-animate">
            <div class="work mb-4 img d-flex align-items-end" style="background-image: url('/assets/images/nagam.jpeg'); background-size: cover; background-position: center center; height: 300px; width: 300px;">
            	<a href="assets/images/nagam.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3 text-center">
	              	
	              	<h2 style="color:white"><a>Naga</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="work mb-4 img d-flex align-items-end" style="background-image: url('/assets/images/gallery-5.jpg' );background-size: cover; background-position: center center; height: 300px; width: 300px;">
            	<a href="assets/images/gallery-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3 text-center">
	              	
	              	<h2><a>Beagle</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="work mb-4 img d-flex align-items-end" style="background-image: url('assets/images/huronsito.jpeg');background-size: cover; background-position: center center; height: 300px; width: 300px;">
            	<a href="assets/images/huronsito.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3 text-center">
	              	
	              	<h2 style="color:white"><a>Hurón</a></h2>
	              </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>
    
